
body{
    width: 1200px;
}
.header{
    height: 100px;
}
.header-logo{
    color: #258CC3;
    float: left;
    font-size:30px;
}

.header-list{
    display: flex;
    list-style: none;
    font-size: 19px;
}

.main{
    height: 600px;
    background-color:black;
}

.info{
    height: 619px;
    background-color: gray;
}


.company{
    height: 580px;
    background-color: #F8F8F8;
}


.contact{
    height: 326px;
    background-color: black;
}



.footer{
    height: 116px;
    background-color: #717171;
}