
body{
    width: 1200px;
}
.header{
    height: 100px;
    background-color: brown;
}
.header-logo{
    color: #258CC3;
    margin:0 auto;
    float: left;
}

.header-list{
    display: flex;
    float: left;
    list-style: none;
    font-size: 19px;
}



.info{
    height: 580px;
    background-color: blueviolet;
}


.contact{
    height: 326px;
    background-color: black;
}



.footer{
    height: 116px;
    background-color: #717171;
}