
body{
    width: 1200px;
}

.header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    float: left;
    margin-left:100px;
}


.header-list{
    display: flex;
    list-style: none;
    font-size: 19px;
    gap:20px;
    margin-right: 100px;
    text-decoration: none;
}
.header-list li:hover{
    text-decoration: underline;
    text-decoration-color: #52A3EE;
    text-decoration-thickness: 3px;
    text-underline-offset: 7px;
}






.main{
    height: 600px;
    background-image: url("img/sample-mainvisual.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text{
    color: #FFFFFF;
    text-align: left;
}






.info{
    height: 619px;
    background-color: #F5F5F5;
}

.info-content{
    width: 1000px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 30px;
}

.data{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.data:first-child{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.info-content li{
    list-style: none;
    font-size:16px;
    padding: 30px;
}

.info-history{
    text-align: right;
    margin-right:100px ;
    text-decoration: none;
}
.info-history p:hover{
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
    text-underline-offset: 7px;
}





.company{
    height: 580px;
    background-color: #F8F8F8;
    position: relative;
}
.company-img{
    width: 500px;
    height: 300px;
    background-image: url("img/company-info.png");
    margin-top: 49px;
    margin-left: 100px;
}

.company-content{
    align-items: center;
    border:1px solid rgba(0, 0, 0, 0.2) ;
    border-radius: 10px;
    height: 300px;
    width: 580px;
    background-color: #FFFFFF;
    position: absolute;
    top: 30%;
    margin-left: 560px;
}
.company-motto{
    padding:0 31px;
}
.company-motto p{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom:40px;
}

.company-profile{
    text-align: right;
    margin-right: 30px;
}



.contact{
    height: 326px;
    background-color: bisque;
}






.heading{
    display: flex;
    justify-content: center;
    font-size: 43px;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
    align-items: center;
    padding-top:30px;
}








.footer{
    height: 116px;
    background-color: #717171;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-copyright{
    color:#FFFFFF;
    text-align: center;
}